@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Roboto);

.ant-layout-header {
  background-color: #76a49a;
}

.ant-layout-footer {
  background-color: #bde5ec;
}

.ant-pagination-item, .ant-pagination-prev, .ant-pagination-next {
  background-color: #bde5ec;
  border: 1px solid #a1abe9;
  color: #fcfcfc;
}

.App {
  text-align: center;
  display: flex;#fcfcfc
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Game-description{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  text-align: left;
  overflow: scroll;
  padding: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.Left-sidebar {
  flex: 2;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  box-shadow: 2px 2px 2px black;
}

.Right-sidebar {
  flex: 3;
  height: 100%;
  align-self: center;
}
