.bird {
  position: absolute;
  height: 100px;
}

.person {
  position: fixed;
  height: 100px;
}

.smooth {
  transition: transform 50ms linear;
  -webkit-transition: transform 50ms linear;
}

.boomerang {
  position: absolute;
  height: 100px;
}

.smooth-rotate {
  transition: transform 50ms linear;
  -webkit-transition: transform 50ms linear;
}

.play {
  height: 100%;
  text-align: left;
  background-image: url('/bg_square.svg');
  background-repeat: no-repeat;
  background-size: cover;

}
.preview {
  height: 100%;
  text-align: left;
  background-image: url('/bg_square.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
